@{
    ViewData["Title"] = "Conhecimentos";
}

<div class="text-left">
    <div>
        <h1>Conhecimento Desenvolvidos</h1>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Desenvolver Sistemas de Informação</h5>
                <small class="text-muted">72 horas</small>
            </div>
            <p class="mb-1">Desenvolvimento e implementação de uma solução para determinado problema, após a sua análise.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Implementar Banco de Dados</h5>
                <small class="text-muted">72 horas</small>
            </div>
            <p class="mb-1">Desenvolvimento de scripts de criação, alteração e exclusão de tabelas e de realização de consultas.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Realizar Testes e Manutenção do Sistema de Informação</h5>
                <small class="text-muted">36 horas</small>
            </div>
            <p class="mb-1">Teste do sistema para verificar seu funcionamento e possíveis erros e, quando encontrados, realização de manutenção para corrigi-los.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Projeto Integrador</h5>
                <small class="text-muted">20 horas</small>
            </div>
            <p class="mb-1">Desenvolvimento de sistema conectado com banco de dados.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Estruturação Front-end para Web</h5>
                <small class="text-muted">44 horas</small>
            </div>
            <p class="mb-1">...</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Programação back-end para Web</h5>
                <small class="text-muted">60 horas</small>
            </div>
            <p class="mb-1">...</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Publicação de Aplicações Web</h5>
                <small class="text-muted">16 horas</small>
            </div>
            <p class="mb-1">...</p>
        </a>
    </div>
</div>