@{
    ViewData["Title"] = "Professores";
}

<div class="text-left">
    <div>
        <h1>Dados dos Professores</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Unidade</th>
                <th scope="col">Disciplina</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Kátia</td>
                <td>Brusque</td>
                <td>Desenvolvimento de Sistemas</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Nivaldo</td>
                <td>Brusque</td>
                <td>Banco de Dados</td>
            </tr>
        </tbody>
    </table>
</div>