@{
    ViewData["Title"] = "Aluno excluido";
}

@model AlunoModel

    <div class="text-center">
        <div>
            <h1>Aluno excluido com sucesso!</h1>
        </div>

        <div class="d-grid gap-3 d-md-block text-center">
            <a class="btn btn-primary" asp-controller="Alunos" asp-action="Index">Voltar</a>
        </div>
    </div>